$green: #284f16;
$lgreen: #659156;

$black: #0c0f0a;
$dgray: #232828;
$gray: #444D4F;
$lgray: #9EAFB2;
$llgray: #DEE2E2;

/* aliases */
$text: $dgray;
$text-light: #fff;
$error: red;
$primary: $green;
$secondary: $lgreen;
$clickable: $green;
$clickable-hover: lighten($green, 20%);