 .navbar {
    flex-shrink: 0;
    position: fixed;
    background-color: rgba(169, 73, 60, 0.95);
    color: white;
    border-bottom: 2px solid $primary;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    transition: top 700ms ease-in-out;
    @include breakpoint(xmedium) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5rem 2rem;
    }
}
.navbar__logo {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    margin-left: 60px;
    img {
        width: 40px;
        margin-left: 1rem;
    }
    @include breakpoint(xmedium) {
      margin-left: 0;
    }
}
.navbar__heading {
    font-weight: 800;
    margin: 0;
    max-width: 190px;
    @include breakpoint(medium) {
      max-width: 100%;
    }
}
.navbar__links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 1em auto 0;
    text-align: center;
    padding: 0;
    width: 100vw;
    transition: 0.3s;
    padding: 0 2em;
    &.is-active {
        display: flex;
    }
    @include breakpoint(xmedium) {
        width: initial;
        display: flex;
        flex-direction: row;
        margin: -0.25em 0 0;
    }
}

.navbar__link {
    padding: 1em;
    border-bottom: 3px solid #692e26;
    width: 100%;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        color: $tan;
    }
    @include breakpoint(xmedium) {
        margin: 0 0 0 1em;
        border: none;
        &:first-child {
            margin-left: 0;
        }
    }
}

.navbar__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    display: none;
    a svg {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
        transition: 0.2s background-color, 0.2s transform;
        g path {
            fill: $secondary;
            stroke: $primary;
        }
        &:hover {
            transform: translate(0.1em, 0.05em);
            background-color: #fff;
            g path {
                fill: $primary;
                stroke: $secondary;
            }
        }
    }
}

.menu-toggle {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1em;
    background: transparent;
    svg {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    path {
        stroke: $tan;
    }
    @include breakpoint(medium) {
        svg {height: 47px;}
    }
    @include breakpoint(xmedium) {
        display: none;
    }
}

/*Hamburger Menu Styling*/

.line {
fill: none;
stroke-width: 6;
transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
stroke-dasharray: 60 207;
stroke-width: 6;
}
.line2 {
stroke-dasharray: 60 60;
stroke-width: 6;
}
.line3 {
stroke-dasharray: 60 207;
stroke-width: 6;
}
.is-active .line1 {
stroke-dasharray: 90 207;
stroke-dashoffset: -134;
stroke-width: 6;
}
.is-active .line2 {
stroke-dasharray: 1 60;
stroke-dashoffset: -30;
stroke-width: 6;
}
.is-active .line3 {
stroke-dasharray: 90 207;
stroke-dashoffset: -134;
stroke-width: 6;
}