h1, h2, h3, h4, h5, h6 {
  color: $text;
}
  
// Scale based on Jason Pamental's
// http://typecast.com/blog/a-more-modern-scale-for-web-typography

h1, .h1 {
  font-family: $sans;
  font-weight: 700;
  line-height: 1.25;
  font-size: 2em;
  @include breakpoint(large) {
    font-size: 2.5em;
    line-height: 1.125;
  }
  @include breakpoint(xlarge) {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2, .h2 {
  font-family: $sans;
  font-weight: 700;
  line-height: 1.153;
  font-size: 1.625em;
  @include breakpoint(large) {
    font-size: 2em;
    line-height: 1.25;
  }
  @include breakpoint(xlarge) {
    font-size: 2.25em;
  }
}

h3, .h3 {
  font-family: $sans;
  font-weight: 700;
  line-height: 1.36;
  font-size: 1.375em;
  @include breakpoint(large) {
    font-size: 1.5em;
    line-height: 1.25;
  }
  @include breakpoint(xlarge) {
    font-size: 1.75em;
  }
}

h4, .h4 {
  font-family: $sans;
  font-weight: 700;
  line-height: 1.111;
  font-size: 1.125em;
  color: $text-light;
  @include breakpoint(large) {
    font-size: 1.125em;
    line-height: 1.222;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p, .p {
  font-weight: 400;
  color: $text;
  line-height: 1.25;
  font-size: 1em;
  @include breakpoint(large) {
    line-height: 1.375;
  }
}

sup {
  font-size: 50%;
  vertical-align: middle;
}

.title {
  letter-spacing: 1px;
  // color: white;
  // text-shadow: -1px -1px 0 $primary, 1px -1px 0 $primary, -1px 1px 0 $primary, 1px 1px 0 $primary;
}

.text-center {
  text-align: center;
}

.title, .subtitle {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  padding: 0.75rem;
  max-width: 666px;
  margin: 0 auto;
}

.title {
  color: $green;
  text-shadow: textShadow(0.25, 6, $dgreen);
  background-color: $tan;
}

.subtitle {
  color: $tan;
  text-shadow: textShadow(0.25, 6, $red);
  background-color: $green;
}