.tricolor {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.tricolor__block {
    flex: 1 1 0px;
    flex-basis: 0;
    background-color: $red;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25em 0.75em;
    h1, p {
        color: white;
        margin: 0 auto;
        width: 100vw;
    }
    &:first-child {
        background-color: $green;
    }
    &:last-child {
        background-color: $tan;
        h1, p {
            color: $dgreen;
        }
    }
    @include breakpoint(medium) {
        h1, p {
            width: 100%;
        }
    }
}